<pick-list></pick-list>

<div class="row ml-4">  
  <my-tooltip></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'bottom'"
    [theme]="'primary'"
    [tooltipContent]="'Primary themed tooltip.'"
    [buttonText]="'Primary themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'right'"
    [theme]="'secondary'"
    [tooltipContent]="'Secondary themed tooltip'"
    [buttonText]="'Secondary themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'top'"
    [theme]="'info'"
    [tooltipContent]="'Info themed tooltip'"
    [buttonText]="'Info themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'left'"
    [theme]="'success'"
    [tooltipContent]="'Success themed tooltip'"
    [buttonText]="'Success themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'top'"
    [theme]="'warning'"
    [tooltipContent]="'Warning themed tooltip'"
    [buttonText]="'Warning themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'bottom'"
    [theme]="'danger'"
    [tooltipContent]="'Danger themed tooltip'"
    [buttonText]="'Danger themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'top'"
    [theme]="'dark'"
    [tooltipContent]="'Dark themed tooltip'"
    [buttonText]="'Dark themed tooltip'"
  ></my-tooltip>
  <my-tooltip 
    [tooltipPlacement]="'bottom'"
    [theme]="'light'"
    [tooltipContent]="'Light themed tooltip'"
    [buttonText]="'Light themed tooltip'"
  ></my-tooltip>
</div>