<div class="d-flex flex-row my-1">
    <div class="px-3 bg-primary">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Primary</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-secondary">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Secondary</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-success">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Success</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-info">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Info</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-warning">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Warning</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-danger">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Danger</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-dark">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Dark</div>
  </div>
  <div class="d-flex flex-row my-1">
    <div class="px-3 bg-light">
      <span style="width: 25px;"></span>
    </div>
    <div class="p-2 text-light">Light</div>
  </div>