<div class="my-theme-container d-flex flex-wrap flex-row m-2">
  <div class="bg-primary text-light">Primary</div>
  <div class="bg-secondary text-dark">Secondary</div>
  <div class="bg-success text-light">Success</div>
  <div class="bg-info text-light">Info</div>
  <div class="bg-warning text-light">Warning</div>
  <div class="bg-danger text-light">Danger</div>
  <div class="bg-dark text-light">Dark</div>
  <div class="bg-light text-dark">Light</div>
  <div class="bg-white text-dark">White</div>
</div>