<div [ngClass]="cardClasses">
  <!--<div *ngFor="let content of cardContents">    
    <div [ngSwitch]="content.type">
      <my-card-header *ngSwitchCase="'header'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-header>
      <my-card-body *ngSwitchCase="'body'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
        [contents]=content.contents
      ></my-card-body>
      <my-card-footer *ngSwitchCase="'footer'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-footer>
   </div>
  </div>-->
  <ng-template ngFor let-content [ngForOf]="cardContents">
    <my-card-header *ngIf="content.type === 'header'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-header>
      <my-card-body *ngIf="content.type === 'body'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
        [contents]=content.contents
      ></my-card-body>
      <my-card-footer *ngIf="content.type === 'footer'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-footer>
  </ng-template>
</div>
