<div class="card">
  <ng-template *ngFor="let content of cardContents">
    <div [ngSwitch]="content.type">
      <my-card-header *ngSwitchCase="'header'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-header>
      <my-card-body *ngSwitchCase="'body'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
        [contents]=content.contents
      ></my-card-body>
      <my-card-footer *ngSwitchCase="'footer'"
        [bgColor]=content.bgColor
        [borderColor]=content.borderColor
        [textColor]=content.textColor
      ></my-card-footer>
      <ng-template *ngSwitchDefault></ng-template>
    </div>
  </ng-template>
</div>