<p class="h1 m-2">Form Controls</p>
<hr class="border-primary mx-2">
<div class="form-control-container my-3 ml-4">
  <p class="h3 mb-1 mt-2">Date/Time Pickers</p>
  <p class="form-control-info">Ng-Bootstrap's Date Picker with various Time Pickers</p>
  
  <!-- NgbDatePicker with NgbTimePicker -->
  <div class="row m-4">
    <p class="col h6 text-light m-1" style="max-width:max-content;">
      Date Picker with Ng-Bootstrap&apos;s Time Picker:
    </p>
    <div class="col" style="max-width: 280px;">
      <date-time-picker></date-time-picker>
    </div>
  </div>

  <!-- NgbDatePicker with one Select menus -->
  <div class="row m-4">
    <p class="col h6 text-light m-1" style="max-width:max-content;">
      Date Picker with one select menu for Time Picker:
    </p>
    <div class="col" style="max-width: 280px;">
      <date-time-picker2></date-time-picker2>
    </div>
  </div>

  <!-- NgbDatePicker with two Select menus -->
  <div class="row m-4">
    <p class="col h6 text-light m-1" style="max-width:max-content;">
      Date Picker with two select menus for Time Picker:
    </p>
    <div class="col" style="max-width: 280px;">
      <date-time-picker3></date-time-picker3>
    </div>
  </div>
</div>