<p class="h1 m-2">Form Controls</p>
<hr class="border-primary mx-2">
<div class="row my-3 ml-4">
	<div class="col-md-6">
		<form>
			<fieldset>
				<legend>Legend</legend>
				<div class="form-group row">
					<label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="text" readonly="" class="form-control-plaintext" id="staticEmail" value="email@example.com">
          </div>
				</div>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
				<div class="form-group">
					<label for="exampleSelect1">Example select</label>
          <ng-select [items]="optionItems" id="exampleSelect1">
          </ng-select>					
				</div>
				<div class="form-group">
					<label for="exampleSelect2">Example multiple select</label>
          <ng-select
            id="exampleSelect2"
            [items]="optionItems"
            [multiple]="true"
            [closeOnSelect]="false">
          </ng-select>
				</div>
				<div class="form-group">
					<label for="exampleTextarea">Example textarea</label>
					<textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
				</div>
				<div class="form-group">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
				<fieldset>
					<legend>Radio buttons</legend>
					<div class="form-group">
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input" checked="">
              <label class="custom-control-label" for="customRadio1">Toggle this custom radio</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
              <label class="custom-control-label" for="customRadio2">Or toggle this other custom radio</label>
            </div>
            <div class="custom-control custom-radio">
              <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input" disabled="">
              <label class="custom-control-label" for="customRadio3">Disabled custom radio</label>
            </div>
          </div>          
				</fieldset>
				<fieldset>
					<legend>Checkboxes</legend>
					<div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
              <label class="custom-control-label" for="customCheck1">Check this custom checkbox</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customCheck2" disabled="">
              <label class="custom-control-label" for="customCheck2">Disabled custom checkbox</label>
            </div>
          </div>
				</fieldset>
        <fieldset>
          <legend>Toggles/Switches</legend>
          <div class="form-group">
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1" checked="">
              <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
            </div>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" disabled="" id="customSwitch2">
              <label class="custom-control-label" for="customSwitch2">Disabled switch element</label>
            </div>
          </div>
				</fieldset>
				<fieldset class="form-group">
					<legend>Sliders</legend>
					<label for="customRange1">Example range</label>
					<input type="range" class="custom-range" id="customRange1">
        </fieldset>
				<button type="submit" class="btn btn-primary">Submit</button>
			</fieldset>
		</form>
	</div>
  <div class="col-md-4 offset-lg-1">
    <div class="form-group">
      <fieldset disabled="">
        <label class="control-label" for="disabledInput">Disabled input</label>
        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled="">
      </fieldset>
    </div>

    <div class="form-group">
      <fieldset>
        <label class="control-label" for="readOnlyInput">Readonly input</label>
        <input class="form-control" id="readOnlyInput" type="text" placeholder="Readonly input here…" readonly="">
      </fieldset>
    </div>

    <div class="form-group has-success">
      <label class="form-control-label" for="inputSuccess1">Valid input</label>
      <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
      <div class="valid-feedback">Success! You've done it.</div>
    </div>

    <div class="form-group has-danger">
      <label class="form-control-label" for="inputDanger1">Invalid input</label>
      <input type="text" value="wrong value" class="form-control is-invalid" id="inputInvalid">
      <div class="invalid-feedback">Sorry, that username's taken. Try another?</div>
    </div>

    <div class="form-group">
      <label class="col-form-label col-form-label-lg" for="inputLarge">Large input</label>
      <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" id="inputLarge">
    </div>

    <div class="form-group">
      <label class="col-form-label" for="inputDefault">Default input</label>
      <input type="text" class="form-control" placeholder="Default input" id="inputDefault">
    </div>

    <div class="form-group">
      <label class="col-form-label col-form-label-sm" for="inputSmall">Small input</label>
      <input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="inputSmall">
    </div>

    <div class="form-group">
      <label class="control-label">Input addons</label>
      <div class="form-group">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
          <div class="input-group-append">
            <span class="input-group-text">.00</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="form-control-container my-3 ml-4">
	<my-date-time-pickers></my-date-time-pickers>
</div>