<div class="input-group mr-2">
  <input
    [placeholder]="placeholder"
    class="form-control"
    (blur)="inputBlur($event)"
    [ngModel]="date | date: inputDatetimeFormat"
    (change)="onInputChange($event)"
    [disabled]="disabled"
  />

  <div class="input-group-append">
    <button
      class="btn btn-outline-secondary"
      [ngbPopover]="calendarContent"
      [disabled]="disabled"
      type="button"
    >
      <!--<i class="fa fa-calendar"></i>-->
      <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
    </button>
  </div>
</div>

<ng-template #calendarContent>
  <div>
    <div>
      <ngb-datepicker
        #dp
        name="datepicker"
        [(ngModel)]="dateStruct"
        (ngModelChange)="onDateChange($event)"
      ></ngb-datepicker>
      <ngb-timepicker
        [seconds]="false"
        #tp
        name="timepicker"
        [(ngModel)]="timeStruct"
        (ngModelChange)="onTimeChange($event)"
        [minuteStep]="30"
      ></ngb-timepicker>
    </div>
  </div>
</ng-template>