@import "../../../.././vars.scss";


.calendar-content {
  ::ng-deep ngb-datepicker .btn-light {
    color: $secondary;
    &:hover {
      background-color: rgba($light,0.2);
      background-image: none;
      color: $info;
    }
  
  ::ng-deep ngb-timepicker {
    .ngb-tp {
      justify-content: center;
    }
    .ngb-tp-input-container {
      width: auto;
    }
    .ngb-tp-chevron::before {
      height: 0.75em;
      width: 0.75em;
    }
    .ngb-tp-input {
      height: 1.5rem;
    }
    
  }
  }
}