<div class="input-group my-datetime">
    <input 
      class="form-control form-control-sm" 
      (blur)="inputBlur($event)" 
      [placeholder]="{{inputDatetimeFormat}}" 
      [ngModel]="dateString | date:inputDatetimeFormat" 
      (change)="onInputChange($event)" 
      [disabled]='disabled' />

    <div class="input-group-append">
        <button class="btn btn-sm btn-outline-secondary" [ngbPopover]="calendarContent" placement="bottom-right" [disabled]='disabled' type="button">
            <fa-icon [icon]="['far', 'calendar-alt']"></fa-icon>
        </button>
    </div>
</div>

<ng-template #calendarContent>
    <!--<div>
        <div *ngIf="!showTimePickerToggle" >
            <ngb-datepicker 
            #dp 
            name="datepicker"
            [ngModel]="datetime"
            (ngModelChange)="onDateChange($event)"></ngb-datepicker>
            <button class="btn btn-block btn-outline-secondary" [ngbPopover]="timePickerContent" type="button" (click)="toggleDateTimeState($event)">
                <fa-icon [icon]="['far', 'clock']"></fa-icon>
            </button>
        </div>
        <div *ngIf="showTimePickerToggle" >
                <button class="btn btn-block btn-outline-secondary" [ngbPopover]="calendarContent" type="button" (click)="toggleDateTimeState($event)">
                    <fa-icon [icon]="['far', 'calendar']"></fa-icon>
                </button>
            <div class="mt-auto">
            <ngb-timepicker #tp name="timepicker" [ngModel]="datetime" (ngModelChange)="onTimeChange($event)" [minuteStep]="30" ></ngb-timepicker>
            </div>
        </div>
    </div>-->
    <!--<ngb-datepicker 
      #dp 
      name="datepicker"
      [ngModel]="datetime"
      (dateSelect)="onDateChange($event)"></ngb-datepicker>
    <ngb-timepicker #tp name="timepicker" [ngModel]="datetime" (ngModelChange)="onTimeChange($event)" [minuteStep]="30"></ngb-timepicker>
    -->
  <div>
    <ngb-datepicker
        #dp
        name="datepicker"
        [(ngModel)]="dateStruct"
        (ngModelChange)="onDateChange($event)"
      ></ngb-datepicker>
      <ngb-timepicker
        meridian="true"
        [seconds]="false"
        #tp
        name="timepicker"
        [(ngModel)]="timeStruct"
        (ngModelChange)="onTimeChange($event)"
        [seconds]="seconds"
        [hourStep]="hourStep"
        [minuteStep]="minuteStep"
      ></ngb-timepicker>
  </div>
</ng-template>

