<nav id="my-navbar" [ngClass]="navbarClass">
  <span class="navbar-brand">
    <!--<fa-icon
    [icon]="['fas', 'dragon']"
    [styles]="{'stroke': 'red', 'stroke-width': '10px', 'color': 'blue'}">      
    </fa-icon>-->
    <fa-layers [fixedWidth]="true">
      <fa-icon [icon]="['fas', 'map-marker']" [classes]="['my-icon-class']"></fa-icon>
      <fa-icon [icon]="['far', 'moon']" [classes]="['my-icon-class2']"></fa-icon>
    </fa-layers>
    Navbar
  </span>
  <button 
    class="navbar-toggler" 
    type="button" 
    data-toggle="collapse"
    data-target="#navbarContent"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <fa-icon [icon]="['fas', 'ellipsis-v']"></fa-icon>
  </button>
  <div class="navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Link 2</a>
      </li>
      <!--
        <li class="nav-item">
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </li>
      -->
    </ul>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" id="navbarDropdown1">
          Dropdown
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <span class="dropdown-item-text" ngbDropdownItem [disabled]="true">Actions</span>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action 1</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action 2</a>
          <div ngbDropdownItem class="dropdown-divider"></div>
          <span ngbDropdownItem [disabled]="true">Tasks</span>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Task 1</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" id="navbarDropdown2">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
          <span class="navbar-text">User's Name</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">User Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">User Action 2</a>
        </div>
      </li>
    </ul>
  </div>
</nav>