<svg version="1.1" xmlns="http://www.w3.org/2000/svg" class="svg-settings">
<defs>
  <linearGradient id="linear" gradientTransform="rotate(90)">
    <stop class="linear-stop1" offset="0%"></stop>
    <stop class="linear-stop2" offset="100%"></stop>
  </linearGradient>
</defs>
</svg>
<nav id="my-navbar" [ngClass]="navbarClass">
  <div class="navbar-brand">
    <!--<fa-icon
    [icon]="['fas', 'dragon']"
    [styles]="{'stroke': 'red', 'stroke-width': '10px', 'color': 'blue'}">      
    </fa-icon>-->
    <span class="brand-logo">
      <fa-layers [fixedWidth]="true">
        <fa-icon [icon]="['fas', 'map-marker']" [classes]="['my-icon-class']"></fa-icon>
        <fa-icon [icon]="['fas', 'moon']" [classes]="['my-icon-class2']"></fa-icon>
      </fa-layers>
    </span>
    <span class="brand-name">Navbar</span>
  </div>
  <div class="navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/buttons" routerLinkActive="active">Buttons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form" routerLinkActive="active">Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/map" routerLinkActive="active">Map</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/container" routerLinkActive="active">Containers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/dialog" routerLinkActive="active">Dialogs</a>
      </li>      
    </ul>    
  </div>
  <div class="navbar-collapse" id="navbarActions">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" role="button" (click)="onToggleTheme()">
          <fa-icon [icon]="['far', 'eye']" *ngIf="themeCollapsed === true"></fa-icon>
          <fa-icon [icon]="['far', 'eye-slash']" *ngIf="themeCollapsed === false"></fa-icon>
          <span class="toggle-theme-text">Theme Colors</span>
        </a>
      </li>
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" id="navbarDropdown1">
          Dropdown
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown1" class="dropdown-menu">
          <span class="dropdown-item-text" ngbDropdownItem [disabled]="true">Actions</span>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action 1</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Action 2</a>
          <div class="dropdown-divider"></div>
          <span ngbDropdownItem [disabled]="true">Tasks</span>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Task 1</a>
        </div>
      </li>
      <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle role="button" id="navbarDropdown2">
          <fa-icon [icon]="['fas', 'user']"></fa-icon>
          <span class="user-info">User's Name</span>
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown2" class="dropdown-menu">
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">User Action</a>
          <a ngbDropdownItem href="#" (click)="$event.preventDefault()">User Action 2</a>
        </div>
      </li>
    </ul>
  </div>
</nav>