@import "./../vars.scss";
p {
  font-family: Lato;
}
my-navbar {
  position: sticky;
  top: 0;
  z-index: 1039;
}

.router-content {
  min-height: 100%;
  height: auto !important;
  max-width: 100%;
  margin: 0;
  position: relative;
  z-index: 1;
  width: 100%;  
}
/** sliding animation **/
.my-theme-container {
  position: absolute;
  bottom: 0;
  .collapse {
    transition: transform .35s, opacity .35s, max-height .3s ease-out;
    opacity: 0;
    max-height: 0;
    display: block !important;
  }
  &.show {
    transition: transform .35s, opacity .35s, max-height .35s ease-in;
    opacity: 1;
    max-height: 600px;
  }
}
.left-side-panel {
  position: fixed;
  left: 0;
  top: 46px;
  z-index: 1030;
  my-left-sidepanel {
    background-color: rgba($light, 0.8);
    min-height: calc(100vh - 46px);
    &.collapse {
      transition: transform .35s, opacity .35s, width .3s ease-out;
      opacity: 0;
      width: 0;
      display: block !important;
    }
    &.show {
      transition: transform .35s, opacity .35s, width .35s ease-in;
      opacity: 1;
      width: 300px;
    }
  }
  .side-panel-button {
    z-index: 1035;
    &:focus, &:focus-within {
      box-shadow: unset;
    }
  }
}