<my-navbar
  [theme]="globalTheme"
  [bgColor]="navbarColor"
  [themeCollapsed]="isThemeCollapsed"
  (toggleTheme)="isThemeCollapsed = !isThemeCollapsed">
</my-navbar>
<div class="router-content">
  <router-outlet></router-outlet>
</div>

<div class="left-side-panel d-inline-flex flex-row align-items-start">
  <my-left-sidepanel class="align-self-stretch" [ngbCollapse]="isLeftSidePanelCollapsed">
  </my-left-sidepanel>
  <button type="button" class="btn btn-primary btn-sm align-self-center side-panel-button" (click)="isLeftSidePanelCollapsed = !isLeftSidePanelCollapsed">
    <fa-icon *ngIf="isLeftSidePanelCollapsed" [icon]="['fas', 'chevron-right']" ></fa-icon>
    <fa-icon *ngIf="!isLeftSidePanelCollapsed" [icon]="['fas', 'chevron-left']"></fa-icon>
  </button>
</div>

<div class="content-container my-theme-container" [ngbCollapse]="isThemeCollapsed">
  <my-theme></my-theme>
</div>