<div class="container">
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-primary" (click)="open(content)">Pick Employee</button>
    </div>
  </div>
  <div class="row">
    <div class="col">   
      <ul class="list-group">
        <ng-container *ngFor="let emp of employeesPicked">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <span class="employeeName">{{emp.name}}</span>
            <fa-icon [icon]="['fas', 'user-times']"></fa-icon>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Select Employee</h4>
  </div>
  <div class="modal-body">    
    <select #employeeSelect class="custom-select" size="5">
      <ng-container *ngFor="let emp of employeesList">
        <option value="{{emp.id}}">{{emp.name}}</option>
      </ng-container>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close(employeeSelect.value)">Add {{employeeSelect.value}}</button>
  <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss()">Cancel</button>
</div>
</ng-template>