<fieldset class="ml-2">
  <legend>Select Menus</legend>
  <div class="form-group ml-4">
    <label for="exampleSelect1">Example Single Select</label>
    <ng-select
      id="exampleSelect1"
      class="custom form-control-sm"
      [items]="optionItems"
      placeholder="Select an option">    
    </ng-select>
  </div>
  <div class="form-group ml-4">
    <label for="exampleSelect2">Example Multiple Select</label>
    <ng-select
      id="exampleSelect2"
      class="custom form-control-sm"
      [items]="optionItems"
      [multiple]="true"
      placeholder="Select multiple options"
      [closeOnSelect]="false">
    </ng-select>
  </div>
</fieldset>