@import "./../../../vars.scss";
.ng-select.custom ::ng-deep .ng-select-container {
  height: calc(1.5em + .5rem + 2px);
  min-height: 0;
  //border-radius: $border-radius-sm;
  color: $input-color;
  background-color: $input-bg;
  //border-color: $input-border-color;
  .ng-value-container {
    padding-left: .5rem;

    .ng-placeholder {
      color: $input-placeholder-color;
    }
  } 
}

.ng-select.custom ::ng-deep .ng-dropdown-panel {
  .ng-dropdown-panel-items {
    background-color: $input-bg;

    .ng-option {
      background-color: unset;
      &.ng-option-selected {
        background-color: rgba($primary, 0.3);
        color: $input-color;
        font-weight: bold;
        &.ng-option-marked {
          background-color: rgba($primary, 0.4);
        }
      }
      &.ng-option-marked:not(.ng-option-selected){
        background-color: rgba($primary, 0.1);
        color: $input-color;
      }
    }
  }
}
