<div class="calendar-container">
	<full-calendar
    #calendar
    [options]="calendarOptions">
  </full-calendar>
  <div id="my-more-popover" class="card">
    <div class="card-header">
      <span class="card-title">{{ myMorePopoverTitle }}</span>
      <button type="button" class="close" click="setMyMorePopoverStyles(null, null)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <ul class="list-group ligt-group-flush">
      <!-- <li class="list-group-item"></li> -->
      <li *ngFor="let evt of myMorePopoverEvents" class="list-group-item">
        {{ evt }}
      </li>
    </ul>
  </div>
</div>