@import "./../../vars.scss";

.calendar-container {
  margin: 1rem auto;
  max-width: 1000px;
  padding: 0 1rem;
}

.fc ::ng-deep {
  .fc-toolbar {
    .fc-button-primary {
      color: $light;
      background-color: $primary;
      border-color: $primary;
    }
  }

  .fc-timegrid-event-harness {
    min-height: 20px;
  }

  .fc-view-container {
    .fc-event {
      background-color: $primary;
      border-color: $primary;
      color: $light;
      .fc-content {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        text-overflow: ellipsis;
      }
      &.long-title .fc-content {
        overflow-wrap: break-word;
        overflow: visible;
        white-space: normal;
      }
      &.multi-day .fc-content { 
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .fc-title {
          padding: 0 0.2rem;
          flex-shrink: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .event-time-start {
          flex-shrink: 0;
        }
        .event-time-end {
          flex-shrink: 0;
        }
      }
      .fc-time {
        font-weight: normal;
      }
    }

    .fc-today {
      background-color: rgba($light, 0.2);
    }

    .fc-head, .fc-widget-header, .fc-row, .fc-body, .fc-widget-content {
      border-color: $secondary;
    }
  }  
}

#my-more-popover {
  background-color: $light;
  z-index: 1;
  border-radius: $border-radius-sm;
  padding: 0.25rem;
  li {
    font-size: 0.675rem;
    background-color: $primary;
    color: $light;
    padding: 0.1rem;
    border: unset;
    margin: 0.1rem 0rem;
  }
}