@import "./../../vars.scss";

.my-calendar {
  margin: 3rem auto;
  max-width: 900px;
}

.fc ::ng-deep {
  .fc-toolbar {
    .fc-button-primary {
      color: $light;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .fc-view-container {
    .fc-event {
    background-color: $primary;
    border-color: $primary;
    color: $light;
  }

  .fc-today {
    background-color: rgba($light, 0.2);
  }

  .fc-head, .fc-widget-header, .fc-row, .fc-body, .fc-widget-content {
    border-color: $secondary;
  }
  }
  
}