@import "./../../vars.scss";

.calendar-container {
  margin: 1rem auto;
  max-width: 1000px;
}

.fc ::ng-deep {
  .fc-toolbar {
    .fc-button-primary {
      color: $light;
      background-color: $primary;
      border-color: $primary;
    }
  }
  .fc-view-container {
    .fc-event {
      background-color: $primary;
      border-color: $primary;
      color: $light;
      .fc-content {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
        text-overflow: ellipsis;
      }
      &.long-title .fc-content {
        overflow-wrap: break-word;
        overflow: visible;
        white-space: normal;
      }
      &.multi-day .fc-content {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        .fc-title {
          padding: 0 2px;
          flex-shrink: 2;
        }
        .event-time-start {
          flex-shrink: 0;
        }
        .event-time-end {
          flex-shrink: 0;
        }
      }
      .fc-time {
        font-weight: normal;
      }
    }

    .fc-today {
      background-color: rgba($light, 0.2);
    }

    .fc-head, .fc-widget-header, .fc-row, .fc-body, .fc-widget-content {
      border-color: $secondary;
    }
  }  
}