<div class="calendar-container">
	<full-calendar
    #calendar
    defaultView="dayGridMonth"
    [header]="config.calHeader"
    [allDaySlot]="true"
    [allDayText]="'All Day'"
    [slotEventOverlap]="false"
    [timeGridEventMinHeight]="20"
		[eventTimeFormat]="config.timeFormat"
    [slotLabelFormat]="config.slotFormat"
    [displayEventEnd]="true"
    [themeSystem]="'bootstrap'"
    [plugins]="calendarPlugins"
    [events]="calendarEvents"
    [eventLimit]="3"
		(dateClick)="onDateClick($event)"
    (viewSkeletonRender)="onViewSkeletonRender($event)"
		(viewSkeletonDestroy)="onViewSkeletonDestroy($event)"
    (datesRender)="onDatesRender($event)"
		(datesDestroy)="onDatesDestroy($event)"
    (select)="onSelect($event)"
    (unselect)="onUnselect($event)"
		(eventRender)="onEventRender($event)"
    (eventPositioned)="onEventPositioned($event)"
		(eventDestroy)="onEventDestroy($event)">
  </full-calendar>
</div>